.flexOne 
  flex 1

.buttons 
  height 70
  margin-horizontal 20
  margin-vertical 10
  align-items center
  justify-content center
  shadowColor #000000
  background-color #000
  shadowOffsetHeight 5
  shadowOffsetWidth 2
  shadowOpacity 0.5
  shadowRadius 3
  elevation 3

.mainView
  flex 1
  justify-content flex-end

.bgContainer 
  position absolute
  top 0
  left 0
  height 100%
  width 100%

.bg 
  flex 1
  height null
  width null

.buttonTitle 
  fontSize 20
  fontWeight bold
  color #fff

.buttonsView
  height 33.3%

.formContainer
  top null
  height 33.3%
  justify-content center
  background-color #F3F3F3
  borderTopLeftRadius 20
  borderTopRightRadius 20
