.flexOne {
  flex: 1;
}

.buttons {
  backgroundColor: rgba(0,0,0,0.7);
    height: 70;
    marginHorizontal: 20;
    marginVertical: 10;
    alignItems: center;
    justifyContent: center;
    shadowColor: #000000;
    shadowOffsetHeight: 5;
    shadowOffsetWidth: 2;
    shadowOpacity: 0.5;
    shadowRadius: 3;
    elevation: 3;
}

.mainView {
  flex: 1;
  justifyContent: flex-end;
}

.bgContainer {
  position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.bg {
  flex: 1;
  height: null;
  width: null;
}

.buttonTitle {
  fontSize: 20;
  fontWeight: bold;
  color: #fff;
}