.buttons: {
    backgroundColor: rgb(60,179,113);
    height: 45;
    width: 50%;
    marginHorizontal: 10;
    marginVertical: 10;
    borderRadius: 30;
    alignItems: center;
    justifyContent: center;
    shadowColor: #000000;
    shadowOffsetWidth: 2; 
    shadowOffsetHeight: 5;
    shadowOpacity: 0.5;
    shadowRadius: 3;
    elevation: 3
}

.buttonTitle: {
    font-size: 18;
    font-weight: bold;
    color: #fff
}

.extraText: {
    display: flex;
    flexDirection: row;
    marginBottom: 40;
}

.link: {
    fontWeight: bold;
    marginLeft: 20;
    color: rgb(0,100,0);
}