.buttons: {
    backgroundColor: rgb(60,179,113);
    height: 40;
    width: 40%;
    marginHorizontal: 10;
    borderRadius: 30;
    alignItems: center;
    justifyContent: center;
    shadowColor: #000000;
    shadowOffsetWidth: 2; 
    shadowOffsetHeight: 5;
    shadowOpacity: 0.5;
    shadowRadius: 3;
    elevation: 3
  }

.buttonTitle: {
    fontSize: 18;
    fontWeight: bold;
    color: #fff
}

.extraText: {
    flexDirection: row;
    marginBottom: 20;
    marginTop: 10;
}

.link: {
    fontWeight: bold;
    marginLeft: 20;
    color: rgb(0,100,0);
}